     body{
      background-image: url(fond.png);
     }

   h1,h3{
      color: #C4BDE3;
      font-weight: bold;
      text-shadow: rgba(0,0,0,0.4) 2px 2px;
      text-align: center;
    }

    h2,h4{
      color: black;
      font-weight: bold;
      text-shadow: rgba(0,0,0,0.4) 2px 2px;
      text-align: center;
    }

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .navbar {
      background:#C4BDE3;
      color: white;
      }

    

    .nav-link, .navbar-brand, .ici {
      color: #fff;
      cursor: pointer;
    }
    .ici{
      background-color: #B8AFE5;
    }

    .nav-link {
      margin: auto;
    }

    .nav-link:hover {
      color: grey;
    }
    .nav-link:hover img{
      width: 30px;
      height: 25px;
    }

    .navbar-collapse {
      justify-content: flex-end;
    }
    
    .feature-title{
      color: #C4BDE3;
      text-align: center;
      font-weight: bold;
    }


  #barreH{
    font-size: 1.5px;
    background-color: #C4BDE3;
    color: #C4BDE3;
  }

  #barreV{
    font-size: 18px;
    background-color:#C4BDE3; 
    color: #C4BDE3; 
    line-height: 0px;
  }

  footer {
      background-color: #C4BDE3;
      color: white;
      padding: 15px;
    }

                                                                       /*VENTES*/

  .thumbnail{
    margin-left: 20%;
  }

  .thumbnail img{
    width: 200px;
    height: 200px;
    box-shadow: rgba(0,0,0,0.4) 3px 3px;
  }

   #id{
    color: black;
    font-size: 11px;
    font-weight: normal;
  }

  #titre{
    color: black;
    font-size: 18px;
  }

  #prix{
    color: #C4BDE3;
    font-weight: bold;
  }

                                                      /*MON COMPTE*/
.menuBIS{
  width: 200px; 
}

.menu{
  width: 300px; 
}

.menu, .menuBIS{
  margin: 40px auto;
  list-style: none;
  padding: 5px; 
  background: #F2F2F2;  
}

.menu a, .menuBIS a {

  display: block;
  text-align: center;
  margin: 1px 0; 
  padding: 8px 10px; 
  color: #666;  
  background: #FFF;  
  text-decoration: none; 
  -webkit-transition: all .3s;  
  -moz-transition: all .3s;   
  transition: all .3s; 
}

.menu  a:hover, .menuBIS a:hover, .menu a:focus, .menuBIS a:focus {
    background: rgb(180,167,222);  
    color: #FFF;
    -ms-transform: rotate(1.1); 
    -webkit-transform: rotate(1.1);
    transform: scale(1.1);  
}